* {
  border: 1px solid black;
}

body {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-box {
  display: flex;
  justify-content: space-around;
}
