* {
	color: white;
}

button,
img,
.grid-container,
h3,
input {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

body {
	background: rgb(130,46,46);
	background: linear-gradient(0deg, rgba(130,46,46,1) 0%, rgba(0,0,0,1) 75%);
	height: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header > h1 {
	color: red;
	font-size: 4em;
	margin: 0px 0px 15px 0px;
	text-shadow: 2px 2px grey;
}

nav {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

button {
	background: none;
	width: 20%;
	font-size: 1.2em;
	margin: 3px;
	padding: 5px 0px 5px 0px;
	border-radius: 5px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-box {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-options {
	padding: 25px 0px 25px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.checkbox {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	place-self: center;
}

.tag-checkbox {
	width: 10%;
}

.text-input {
	width: 55%;
	display: flex;
	flex-direction: column;
}

.text-input-align {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.input-text {
	align-self: baseline;
	padding: 10px 10px 5px 0px;
	color: red;
	font-size: 1.2em;
	font-weight: 800;
}

.text-input-box {
	align-self: flex-end;
	padding: 10px 0px 10px 10px;
	width: 40%;
	background: none;
	border: none;
}

.submit-button {
	width: 100%;
}

.recipe-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error-messages {
	font-size: 1.5em;
	font-weight: 900;
	color: red;
	text-shadow: 0.5px 0.5px grey;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}

.card-head {
	display: flex;
	justify-content: center;
}

.card-body img {
	height: 100%;
	width: 100%;
}

.individual-recipe {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.left-recipe, .right-recipe {
	width: 50%;
	margin: 0px 20px 0px 20px;
}

.left-recipe {
	align-self: flex-start;
	width: 30%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 10% 60% 15%;
}

.left-recipe > h2 {
	grid-column: span 2;
	grid-row: 2;
}

.left-recipe > img {
	grid-column: span 2;
	grid-row: 3;
	height: 100%;
	width: 100%;
}

.back-to-main-btn {
	grid-column: 1;
	width: 100%;
}

.cook-this-now-btn {
	grid-column: 2;
	width: 100%;
}

.list-btns {
	width: 100%;
}

.favs {
	grid-column: 1;
}

.to-cook {
	grid-column: 2;
}

.pantry-item {
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.left-pantry {
	align-self: flex-start;
	display: grid;
	grid-gap: 1em;
	grid-column-templates: 50% 50%;
	grid-row-templates: minmax(50%, auto);
}

.add-to-pantry-input {
	background: none;
	font-size: 1.1em;
	grid-column: 1;
}

.add-to-pantry {
	background: none;
	font-size: 1.1em;
	grid-column: 2;
}

.submit-to-pantry {
	align-self: center;
	width: 100%;
	grid-column: span 2;
	grid-row: 2;
}

.table-titles {
	font-size: 1.1em;
}

table {
	width: 800px;
}

tr {
	padding: 5px 20px 5px 20px;
}

td {
	padding: 5px 20px 5px 20px;
}

.text-transform {
	text-transform: capitalize;
}

.hidden {
	display: none;
}
